<h1>The Index Action: The place where you get all of the books!</h1>

<section>
  <h2>List of all Books</h2>
  <ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.title, book_path( book.id ) %> by <%= book.author %>
      </li>
    <% end %>
  </ul>
</section>