/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: oldlace;
  font-family: monospace;
}

body, a, a:visited {
  color: olivedrab;
}

h1, h2, h3 {
  color: darkgreen;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav li a, nav li a:visited {
  color: white;
  display: inline-block;
  padding: 1rem;
  background-color: olivedrab;
  border: olivedrab solid 2px;
  border-radius: 5px;
  text-decoration: none;
}

.index-header {
  text-align: center;
}

.show-header {
  text-align: center;
}

.show-cat {
  max-width: 50%;
}

a.index-delete-link, a:visited.index-delete-link {
  color: darkred;
  text-decoration: none;
}

.user-messages {
  color: darkmagenta;
  font-size: 3rem;
}